/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Helvetica;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.header-class {
  font-family: Algerian;
  padding-bottom: 1rem;
}
.rem1 {
  font-size: 1rem;
}
.rem1-5 {
  font-size: 1.5rem;
}
.rem2 {
  font-size: 2rem;
}
.h2 {
  font-size: 2rem;
  font-family: Algerian;
  padding-bottom: 1rem;
}
.h3 {
  font-size: 1.5rem;
  font-family: Algerian;
  padding-bottom: 1rem;
}
html,
body {
  height: 100%;
  width: auto;
}
.container {
  margin: 2rem;
  background-image: linear-gradient(#000000, white);
}
.container h1 {
  font-size: 3.5rem;
  padding-top: rem;
  font-family: Algerian;
  padding-bottom: 1rem;
}
.container h2 {
  font-size: 2rem;
  font-family: Algerian;
  padding-bottom: 1rem;
}
.container h3 {
  font-size: 1.5rem;
  font-family: Algerian;
  padding-bottom: 1rem;
}
.container header {
  background-color: #000000;
}
.container header nav {
  display: flex;
  justify-content: flex-end;
  width: auto;
  padding: 1rem 1.5rem;
}
.container header nav a {
  margin-left: 3rem;
  font-size: 1rem;
  color: gray;
  text-decoration: none;
}
.container header nav a:hover {
  text-decoration: underline;
}
.container .intro {
  padding: 1rem;
}
.container .intro .intro-content .top-body-img {
  width: 100%;
  height: 20rem;
}
.container .intro .intro-content .tag-line {
  font-size: 1.5rem;
}
.container .intro .intro-button {
  margin: 2rem 0rem 1rem 0rem;
}
.container .intro .intro-button .button {
  color: white;
  box-sizing: border-box;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid #000000;
  padding: 0.5rem 2rem;
}
.container .middle-body {
  display: flex;
}
@media (max-width: 500px) {
  .container .middle-body {
    flex-direction: column;
  }
}
.container .middle-body .main-content {
  width: 50%;
  height: auto;
  padding: 1rem;
}
@media (max-width: 500px) {
  .container .middle-body .main-content {
    width: 100%;
  }
}
.container .middle-body .unordered-list {
  width: 50%;
  height: auto;
  padding: 1rem;
}
@media (max-width: 500px) {
  .container .middle-body .unordered-list {
    width: 100%;
  }
}
.container .middle-body .unordered-list .list {
  display: flex;
  flex-direction: column;
}
.container .middle-body .unordered-list .list .first-item {
  border-top: 1px solid #000000;
}
.container .middle-body .unordered-list .list li {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #000000;
  padding: 1rem;
}
.container .bottom-body {
  padding: 1rem;
}
.container .bottom-body table,
.container .bottom-body th,
.container .bottom-body td {
  border-bottom: 1px solid #000000;
  padding: 0.5rem;
}
.container .bottom-body table {
  width: 100%;
}
.container .bottom-body th {
  height: 50px;
  vertical-align: bottom;
  text-align: left;
  font-weight: bold;
  background-color: #e6e3e3;
}
.container footer {
  padding-top: 50px;
}
